<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>File Viewer</title>
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>間隔</span>
            <input type="radio" name="interval" id="interval-10" value=10 @click="ResetInterval(10)" checked />
            <label for="interval-10">10秒</label>
            <input type="radio" name="interval" id="interval-30" value=30 @click="ResetInterval(30)" />
            <label for="interval-30">30秒</label>
        </div>

        <div v-for="(rows, index) in response" :key="index">
            {{rows.day.substr(0,2)}}/{{rows.day.substr(2,2)}}/{{rows.day.substr(4,2)}}
            {{rows.time.substr(0,2)}}:{{rows.time.substr(2,2)}}:{{rows.time.substr(4,2)}}
        </div>

        <table>
            <thead>
                <tr>
                    <th v-for="(row, index) in headers" :key="index">{{row}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rows, index) in response" :key="index">
                    <td>{{rows.no}}</td>
                    <td>{{rows.data}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <div v-if="error" class="alert-text">通信エラー</div> -->
        <div v-if="error" class="alert-text">異常</div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            name: 'Viewer',
            data: {
                no: 1,
                headers: ['No.', 'データ'],
                interval: 10,
                url: 'https://youer-data-url',
                response: null,

                methodId: null,
                error: false,

                doOnce: false,
            },

            methods: {
                GetFile() {
                    const SOH = '1';
                    let self = this;
                    // self.no++;
                    self.no = ((self.no + self.interval) <= 99) ? self.no + self.interval : self.no % 10; // (self.no <= 99) ? self.no++ : 1;

                    axios.get(self.url, {
                        // mode: 'cors',
                        // headers: {
                        //     'Content-Type': 'application/json;charset=utf-8',
                        //     'Access-Control-Allow-Origin': '*'
                        // },
                        // auth: { username: "sensor-test", password: "shisaku" },
                    })
                        .then(
                            res => {
                                console.log(res.data);
                                console.log(res.data[0]);
                                console.log(typeof res.data);

                                const list = res.data.split(/\n/);
                                const dd = list[0].split('');

                                self.response = [
                                    {
                                        no: dd.splice(0, 4).join(''),
                                        day: self.ConvertAscii2String(dd, 6),
                                        time: self.ConvertAscii2String(dd, 6),
                                        data: `${self.ConvertAscii2String(dd, 10)} ml`,
                                        state: dd.splice(0, 4).join(''),
                                    }
                                ];
                                console.log(self.response);

                                if (!self.doOnce) {
                                    self.doOnce = true;
                                    self.no = parseInt(self.response[0].no);
                                }
                                self.error = self.response[0].state != '0000'; // (self.no != self.response[0].no);
                            }
                        )
                        .catch(e => {
                            console.error(e);
                        })

                    this.methodId = setTimeout(this.GetFile, this.interval * 1000)
                },

                ResetInterval(interval) {
                    this.interval = interval;

                    clearTimeout(this.methodId);
                    this.GetFile();
                },

                ConvertAscii2String(value, length = null) {
                    if (value == null) return 'Non';
                    if (length === null) length = value.length;
                    let ss = code = '', i = 0;
                    while (2 <= value.length && i < length) {
                        i++;

                        code = value.splice(0, 2);
                        if (code.join('') == '00') break;
                        ss += String.fromCharCode(`0x${code.join('')}`);
                    }
                    return ss;
                },
            },

            mounted() {
                this.GetFile();
            },

            beforeDestroy() {
                clearTimeout(this.GetFile);
            },
        });
    </script>
    <style>
        table * {
            border: 1px double black;
        }

        .alert-text {
            color: red;
        }
    </style>
</body>

</html>