<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>File Viewer</title>
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <p>間隔</p>
            <input type="radio" name="interval" id="interval-1" value=1 @click="ResetInterval(1)" />
            <label for="interval-1">1秒</label>
            <input type="radio" name="interval" id="interval-10" value=10 @click="ResetInterval(10)" checked />
            <label for="interval-10">10秒</label>
            <input type="radio" name="interval" id="interval-30" value=30 @click="ResetInterval(30)" />
            <label for="interval-30">30秒</label>

        </div>

        <table>
            <thead>
                <tr>
                    <th v-for="(row, index) in headers" :key="index">{{row}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rows, index) in response" :key="index">
                    <td v-for="(row, key) in rows" :key="key">{{row}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            name: 'Viewer',
            data: {
                no: 1,
                headers: ['No.', '年月日', '時刻', 'データ'],
                interval: 10,
                url: 'https://hasegawatakatune.github.io/Viewer/data.txt',
                response: null,

                methodId: null,
            },

            methods: {
                GetFile() {
                    let self = this;
                    self.no++;
                    self.no = (self.no <= 99) ? self.no++ : 1;

                    // self.response = [
                    //     { no: self.no, day: 'XX/XX/XX', time: 'XX:XX:XX', data: '123' },
                    // ];
                    axios.get(self.url)
                        .then(
                            res => {
                                const list = res.data.split(/\n/);
                                const dd = list[0].split(' ');
                                console.log(list);
                                // console.log(res);
                                // console.log(res.data);
                                // const dd = res.data.split(' ');
                                // console.log(dd.slice(0, 2));
                                // console.log(this.ConvertAscii2String(dd, 0, 2));

                                // let no = this.ConvertAscii2String(dd, 0, 2);
                                // let day = this.ConvertAscii2String(dd, 2, 8);
                                // let time = this.ConvertAscii2String(dd, 8, 14);
                                // let data = this.ConvertAscii2String(dd, 14);
                                // console.log(`No.:${no}  Day:${day}  Time:${time}  Data:${data}`);

                                self.response = [
                                    {
                                        no: self.ConvertAscii2String(dd, 0, 2),
                                        day: self.ConvertAscii2String(dd, 2, 8),
                                        time: self.ConvertAscii2String(dd, 8, 14),
                                        data: self.ConvertAscii2String(dd, 14)
                                    }
                                ];
                                // self.response = [
                                //     { no: '0001', day: now.format('YYYY/MM/DD'), time: now.format('hh:mm:ss'), data: 'SAMPLE' },
                                //     { no: '0002', day: now.format('YYYY/MM/DD'), time: now.format('hh:mm:ss'), data: 'SAMPLE' }
                                // ] // res.data;
                            }
                        )
                        .catch(e => {
                            console.error(e);
                        })

                    this.methodId = setTimeout(this.GetFile, this.interval * 1000)
                },

                ResetInterval(interval) {
                    this.interval = interval;

                    clearTimeout(this.methodId);
                    this.GetFile();
                },

                ConvertAscii2String(value, from = null, to = null) {
                    const first = from ?? 0;
                    const last = to ?? value.length;
                    var ss = '';
                    for (var i = first; i < last; i++) {
                        ss += String.fromCharCode(`0x${value[i]}`);
                    }
                    return ss;
                },
            },

            mounted() {
                this.GetFile();
            },

            beforeDestroy() {
                clearTimeout(this.GetFile);
            },
        });
    </script>
    <style>
        table * {
            border: 1px double black;
        }
    </style>
</body>

</html>