<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>File Viewer</title>
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>間隔</span>
            <input type="radio" name="interval" id="interval-10" value=10 @click="ResetInterval(10)" checked />
            <label for="interval-10">10秒</label>
            <input type="radio" name="interval" id="interval-30" value=30 @click="ResetInterval(30)" />
            <label for="interval-30">30秒</label>
        </div>

        <div v-for="(rows, index) in response" :key="index">
            {{rows.day.substr(0,2)}}/{{rows.day.substr(2,2)}}/{{rows.day.substr(4,2)}}
            {{rows.time.substr(0,2)}}:{{rows.time.substr(2,2)}}:{{rows.time.substr(4,2)}}
        </div>

        <table>
            <thead>
                <tr>
                    <th v-for="(row, index) in headers" :key="index">{{row}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rows, index) in response" :key="index">
                    <td>{{rows.no}}</td>
                    <td>{{rows.data}}</td>
                </tr>
            </tbody>
        </table>

        <div v-for="(msg, index) in errorMessage" :key="index" class="alert-text">{{msg}}</div>
    </div>
    <script>
        var app = new Vue({

            el: '#app',
            name: 'Viewer',
            data: {
                headers: ['No.', 'データ'],
                interval: 10,
                response: [],

                methodId: null,
                errorMessage: [],

            },

            methods: {

                // データ取得
                GetFile() {
                    const SOH = '1';

                    let self = this;
                    let oldNo = self.response[0]?.no;

                    self.errorMessage = [];

                    axios.get('http://k2hjnay9448g.shop/sensor_testpage/data.bin', {
                        // mode: 'cors',
                        // headers: {
                        //     'Content-Type': 'application/json;charset=utf-8',
                        //     'Access-Control-Allow-Origin': '*',
                        // },
                        // auth: { username: 'sensor-test', password: 'shisaku' },
                    })
                        .then(
                            res => {

                                const list = res.data.split(/\n/);
                                const dd = list[0].split('');

                                // 取得データの変換・格納
                                self.response = [
                                    {
                                        no: dd.splice(0, 4).join(''),
                                        day: self.ConvertAscii2String(dd, 6),
                                        time: self.ConvertAscii2String(dd, 6),
                                        data: `${self.ConvertAscii2String(dd, 10)} ml`,
                                        state: dd.splice(0, 4).join(''),
                                    }
                                ];

                                if (self.response[0].no === oldNo) self.errorMessage.push('通信エラー');
                                if (self.response[0].state !== '0000') self.errorMessage.push('コントローラ異常');

                            }
                        )
                        .catch(e => {
                            console.error(e);
                            self.errorMessage.push('通信エラー');
                        })

                    this.methodId = setTimeout(this.GetFile, this.interval * 1000);
                },

                // 更新間隔を変更
                ResetInterval(interval) {
                    this.interval = interval;

                    clearTimeout(this.methodId);
                    this.GetFile();
                },

                // 取得データの変換
                ConvertAscii2String(value, length = null) {
                    if (value == null) return 'Non';
                    if (length === null) length = value.length;
                    let ss = code = '', i = 0;
                    while (2 <= value.length && i < length) {
                        i++;

                        code = value.splice(0, 2);
                        if (code.join('') == '00') break;
                        ss += String.fromCharCode(`0x${code.join('')}`);
                    }
                    return ss;
                },
            },

            mounted() {
                this.GetFile();
            },

            beforeDestroy() {
                // タイマー処理を解放する
                clearTimeout(this.GetFile);
            },
        });
    </script>
    <style>
        table * {
            border: 1px double black;
        }

        .alert-text {
            color: red;
        }
    </style>
</body>

</html>